
 body{
   background-image: url(img7.jpg);
 }
.t1{
   display: inline-block;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.t2{
   display: inline-block;
   margin-left: 15px;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
 
.d1{
   display: inline-block;
   border-color: black ;
   border: 5px;
   border-style: solid;
   padding: 10px;
   border-radius: 10px;
   display: inline-block;
   margin-top: 150px;
   margin-left: 570px;
}
.h11{
   text-align: center;
}
 
 
  